<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De La Salle Usap</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="js/client.js"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <div class="app">
        <!-- SIDEBAR -->
        <div class="sidebar">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/De_La_Salle_University_Seal.svg/1200px-De_La_Salle_University_Seal.svg.png" alt="" width="100px" style="margin-bottom: 20px;">
            <h1>De La Salle Usap</h1>
            <p>An online chatroom for DLSU students</p>
            
            <div class="spacer"></div>
            <input type="text" placeholder="Search">
            <div class="spacer"></div>

            <h1 class="chatroomlist_title">CHAT ROOMS</h1>
            <div class="spacer-sm"></div>
            <div class="chatroomlist">
                <a href="">
                    <div class="chatroomtile">
                        <div class="icon">
                        </div>
                        <div class="title"><p>AMA: Developments of the Gokongwei Building</p></div>
                    </div>
                </a>
            </div>
            <div class="spacer"></div>
            <div class="logout">
                <a href="#">Log Out</a>
            </div>
        </div>
        {{{body}}}
    </div>
    
</body>
</html>