<div class="chatbody">
    <div class="chatbox">
            <!-- ROOM INFORMATION -->
            <div class="roominfo">
                <h1>AMA: Developments of the Gokongwei Building</h1>
            </div>

            <!-- CHAT MESSAGES -->
            <div class="chatmessages">
                <ul>
                    <li class="join">
                        <p class="sender"></p>
                        <p class="message"><b>aryanxarora</b> has joined the room</p>
                    </li>
                    <li class="you">
                        <p class="sender">aryanxarora (you)</p>
                        <p class="message">Hello everyone</p>
                    </li>
                    <li class="join">
                        <p class="sender"></p>
                        <p class="message"><b>jolsoncruz</b> has joined the room</p>
                    </li>
                    <li class="">
                        <p class="sender">jolsoncruz</p>
                        <p class="message">Hello Aryan</p>
                    </li>
                    <li class="">
                        <p class="sender">jolsoncruz</p>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </li>
                    <li class="you">
                        <p class="sender">aryanxarora (you)</p>
                        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </li>
            </div>

            <!-- COMPOSE MESSAGE -->
                <div id="message-container" class="composemessage">
                    <form id="send-container">
                        <input type="text" id="message-input">
                        <button type="submit" id="send-button">Send</button>
                    </form>
                </div>
    </div>
            <!-- <div class="participants"></div> -->
</div>