<div class="chatbody">
    <div class="chatbox">
        <div class="blankchat">
            <h1>Enter a room and join the conversation!</h1>
        </div>
    </div>
    <!-- <div class="participants"></div> -->
</div>