<div class="login">

    <a href="/">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/De_La_Salle_University_Seal.svg/1200px-De_La_Salle_University_Seal.svg.png" alt="" width="100px" style="margin-bottom: 20px;">
    </a>
    <h1>De La Salle Usap</h1>
    <p>An online chatroom for DLSU students</p>

    <form action="login" method="POST">
        <input type="email" name="email" placeholder="Enter your DLSU email" required>
        <input type="password" name="password" placeholder="Enter your Password" required>
        <button type="submit">Log In</button>
        <p>Don't have an account? <a href="#">Sign up</a></p>
    </form>

</div>