<div class="login">

        <a href="/">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/De_La_Salle_University_Seal.svg/1200px-De_La_Salle_University_Seal.svg.png" alt="" width="100px" style="margin-bottom: 20px;">
        </a>
        <h1>De La Salle Usap</h1>
        <p>An online chatroom for DLSU students</p>

        <form action="checkotp" method="POST">
            <input id="userOTP" type="number" name="otp" placeholder="Enter OTP sent to your email" required>
            <button type="submit">Verify</button>
        </form>
        

</div>