<script>
    const roomName = "{{roomName}}";
    console.log(roomName);
</script>

<div class="chatbody">
    <div class="chatbox">
            <!-- ROOM INFORMATION -->
            <div class="roominfo">
                <h1>{{roomName}}</h1>
            </div>

            <!-- CHAT MESSAGES -->
            <div class="chatmessages">
                <ul id="message-container">

                </ul>
            </div>

            <!-- COMPOSE MESSAGE -->
                <div class="composemessage">
                    <form id="send-container">
                        <input type="text" id="message-input" required>
                        <button type="submit" id="send-button">Send</button>
                    </form>
                </div>
    </div>
            <!-- <div class="participants"></div> -->
</div>