<div class="login">

        <a href="/">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c2/De_La_Salle_University_Seal.svg/1200px-De_La_Salle_University_Seal.svg.png" alt="" width="100px" style="margin-bottom: 20px;">
        </a>
        <h1>De La Salle Usap</h1>
        <p>An online chatroom for DLSU students</p>

        {{!-- <form id="signupform" onsubmit="getUserData()" class="">
            <input id="userName" type="text" name="name" placeholder="Enter your Full Name" required>
            <input id="userEmail" type="email" pattern=".+@dlsu\.edu\.ph" name="email" placeholder="Enter your DLSU email" required>
            <input id="userPassword" type="password" name="password" placeholder="Enter your Password" value="register" required>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Log in</a></p>
        </form>

        <form id="otpform" onsubmit="checkOTP()" class="hide">
            <input id="userOTP" type="number" name="otp" placeholder="Enter OTP sent to your email" required>
            <button type="submit">Verify</button>
        </form> --}}

        <form action="register" method="POST">
            <input id="userName" type="text" name="name" placeholder="Enter your Full Name" required>
            <input id="userEmail" type="email" pattern=".+@dlsu\.edu\.ph" name="email" placeholder="Enter your DLSU email" required>
            <input id="userPassword" type="password" name="password" placeholder="Enter your Password" value="register" required>
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Log in</a></p>
        </form>

</div>